*{
  padding: 0;
  margin: 0;
}

ul,li{
  list-style: none;
}
.wrapper{
  position: relative;
  overflow: hidden;
}
.sliders{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slider{
  position: relative;
 
  -webkit-transition: 1s ease-in-out left;
  transition: 1s ease-in-out left;
  z-index: -1;
  position: absolute;
  line-height: 0;
}

.slider.active, .slider.prev, .slider.next,.slider.left,.slider.right,{
  display: block;
}
.slider.prev,.slider.left{
  left: -100%;
  z-index: -1;
}

.slider.next{
  left: 100%;
  z-index: 1;
}
.slider.active{
  left: 0;
  position: relative;
  z-index: 2;
}

.slider.next.left{
  left: 0;
  z-index: 2;
}

.slider.prev.right{
  left: 0;
  z-index: 2;
}

.slider.active.left{
  left: -100%;
}

.slider.active.right{
  left: 100%;
}

.slider.next, .slider.prev{
  position: absolute;
  top:0;
  width:100%;
}
.slider img{
  width: 100%;
  height:auto;
}

.arrows{
  position: absolute;
  top: 50%;
  height: 20px;
  width: 100%;
  z-index: 2;
  margin-top:-10px;
}
.arrow{
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #ccc;
  cursor: pointer;
}

.arrow-left{
  left: 10px;
}
.arrow-right{
  right:10px;
}

.dots{
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 2;
}

.dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background-color:rgba(255,255,255,0.3);
  border-radius: 5px;
}

.dot.active{
  background-color:rgba(255, 255, 255, 0.87);
  width: 10px;
}